@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
}
body {
  position: relative;
}

/* section 區塊 */

section {
  background-image: url(../img/welcome.png);
  height: 320px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  color: #f8f8f8;
  text-shadow: 0px 0px 30px #abc;
  font-size: 28px;
  margin-bottom: 15px;
}
.slogan-text {
  color: #f8f8f8;
  font-size: 16px;
  margin-bottom: 25px;
}

.search-bar {
  display: flex;
  width: 460px;
  height: 46px;
  justify-content: center;
  align-items: flex-start;
}
input {
  width: 400px;
  padding: 15px;
  height: 46px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

.searchBtn {
  background-color: #448899;
  width: 60px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

img.search {
  pointer-events: none;
  width: 30px;
  height: 30px;
}

main {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 0px;
}

/* list 區塊 －－－ mrt站名 */

img.arrowPic {
  pointer-events: none;
  width: 32px;
  height: 32px;
}

.list-bar {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.listItem-container {
  display: flex;
  overflow: hidden;
}
.carousel {
  display: inline-block;
  white-space: nowrap;
  transition: all 0.4s ease;
  color: #757575;
}

span {
  padding: 5px 15px;
}

span:hover {
  color: black;
}

.attraction {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 15px;
}

.attractionCard {
  background-color: #fff;
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #e8e8e8;
  position: relative;
  overflow: hidden;
}
img {
  width: 100%;
  object-fit: cover;
  height: 180px;
}
.attractionCard:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.attractionName {
  position: absolute;
  width: 100%;
  top: 140px;
  height: 40px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.attractionInfo {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: #757575;
}
.error-message {
  margin: 0 auto;
  color: #757575;
}
/* footer 區塊 */
footer {
  height: 104px;
  padding: 40px 0px;
  text-align: center;
  background-color: #757575;
}

p.footer {
  color: #ffffff;
  font-weight: 700;
}

/*進度條*/
/* 在你的 CSS 文件中添加以下樣式 */

.loading-indicator {
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  .nav-bar {
    width: 90%;
  }
  .slogan {
    width: 90%;
  }
  main {
    width: 90%;
  }
  .attraction {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .nav-bar {
    width: 100%;
  }
  .nav-sitename {
    padding: 0px 0px 0px 15px;
  }
  .slogan {
    width: 90%;
  }
  .search-bar {
    width: 280px;
  }
  main {
    width: 90%;
  }
  .attraction {
    grid-template-columns: 1fr;
  }
}
