<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taipei Day Trip</title>
    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
    <link rel="stylesheet" href="/static/css/booking.css" />
  </head>
  <body>
    {% include 'base.html' %}
    <div class="headline">
      您好，<span class="login-username"></span>，待預定的行程如下
    </div>
    <div class="booking-wrapper">
      <section class="booking">
        <img src="" alt="" class="booking-img" />
        <div class="booking-info">
          <div class="booking-info-title"></div>
          <div class="booking-info-date"></div>
          <div class="booking-info-time"></div>
          <div class="booking-info-address"></div>
          <img
            class="trash-button"
            src="/static/img/trash button.png"
            alt=""
            srcset=""
          />
        </div>
      </section>
      <form action="" class="booking-form">
        <div class="contact-form">
          <div class="contact-form-title">您的聯絡資訊</div>
          聯絡姓名：<input
            type="text"
            class="contact-form-name"
            required="required"
          />
          <span class="error-contactName-message"></span>
          <br />
          聯絡信箱：<input
            type="email"
            class="contact-form-email"
            title="請輸入正確的信箱格式，必須包含@"
            required="required"
          />
          <span class="error-contactEmail-message"></span>
  
          <br />
          手機號碼：<input
            type="tel"
            class="contact-form-phone"
            id="phone-number-input"
            maxlength="10"
            pattern="^09\d{8}$"
            title="請輸入09開頭，共10碼的手機號碼"
            required="required"
          />
  
          <span class="error-contactPhone-message"></span>
  
          <p class="contact-form-hint">
            請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
          </p>
        </div>
        <div class="payment">
          <div class="payment-title">信用卡付款資訊</div>
          <div class="payment-info">
            卡片號碼：
            <div class="tpfield tappay-field-focus" id="card-number"></div>
          </div>
          <div class="payment-info">
            過期時間：
            <div
              class="tpfield tappay-field-focus"
              id="card-expiration-date"
            ></div>
          </div>
          <div class="payment-info">
            驗證密碼：
            <div class="tpfield tappay-field-focus" id="card-ccv"></div>
          </div>
          <div class="payment-error-message"></div>
        </div>
        <div class="confirm">
          <div class="confirm-payment">總價：</div>
          <button type="submit" class="confirm-btn">確認訂購並付款</button>
        </div>
      </div>
  

      </form>
    <div class="no-booking-message" style="display: none">
      目前沒有任何待預訂的行程
    </div>
    <div class="transaction-in-progress">
      <div class="loader"></div>
      <p class="loader-text">交易進行中，請稍候．．．請勿關閉視窗</p>
    </div>
    <div class="payment-failed" style="display: none">
      <img src="/static/img/warning.png" class="payment-fail-icon" alt="" />
      <p class="payment-fail-text"></p>
    </div>

    <footer>
      <p class="footer">COPYRIGHT © 2023 台北一日遊</p>
    </footer>
    <script src="/static/js/booking.js"></script>
    <!-- <script src="/static/js/member.js"></script> -->
  </body>
</html>
