<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Day Trip</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    {% include 'base.html' %}
    <section>
        <div class="slogan">
            <h1>輕鬆享受台北一日悠閒</h1>
            <p class="slogan-text">探索每個角落，體驗城市的深度旅遊行程</p>

            <div class="search-bar">
                <input type="text" placeholder="輸入景點名稱查詢" id="searchInput">
                <button class="searchBtn">
                    <img class="search" src="../static/img/icon_search.png" alt="" srcset="">   
                </button>
            </div>            
        </div>
    </section>
    <main>
        <div class="list-bar">
            <button class="btn-prev">
                <img class="arrowPic" src="../static/img/Default.png" alt="" srcset="">
            </button>
            <div class="listItem-container">
                <div class="carousel">
              <!-- 傳進來的資料 -->
                </div>

            </div>

            <button class="btn-next">
                <img class="arrowPic" src="../static/img/arrow-right.png" alt="" srcset="">
            </button>

        </div>
        <div class="attraction">

        </div>
    </main>
    <footer>
        <p class="footer">
            COPYRIGHT © 2023 台北一日遊
        </p>
    </footer>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/member.js"></script>
</body>
</html>