<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/membercenter.css" />
  </head>
  <body>
    {% include 'base.html' %}

    <section>
      <p class="membercenter-title">歷史訂單查詢：</p>
      <button class="logout">登出系統</button>
    </section>

    <div class="orderhistoty">
      <p class="noOrderhistory-hint">您好，目前查無任何訂單資料</p>
    </div>

    <footer>
      <p class="footer">COPYRIGHT © 2023 台北一日遊</p>
    </footer>
    <script src="/static/js/membercenter.js"></script>
  </body>
</html>
